RewriteEngine On
RewriteBase /CodeExpertsEcommerce/

# Allow direct access to existing files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# If the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php while preserving query string
RewriteRule ^(.*)$ index.php [L,QSA] 